#question-wrapper {
  display: none;
  min-height: 40vw;
}

.question {
  padding-top: 10%;
  padding-bottom: 5%;

  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(20px + 2vmin);
    padding-bottom: 5%;
    width: 100%;
  }

   &__wrapper-question {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(20px + 2vmin);
    padding-bottom: 40px;
  }

  &__player-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
    padding-bottom: 50px;
  }

  &__player-name {
    font-size: calc(30px + 2vmin);
  }

  &__1 {
  font-size: calc(30px + 2vmin);
  padding-bottom: 20px;
  font-weight: 500;
  width: 90%;
  margin: 0 auto;
  }

  &__letter {
    padding-right: 10%;
    padding-left: 3%;
    font-size: 300%;
  }

  &__answer {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
    
    &__answer1, &__answer2, &__answer3, &__answer4  {
      display: flex;
      flex-flow: column nowrap;
      margin: 0 auto;
      align-items: flex-start;
      justify-content: flex-start;
      width: 80%;
      font-size: 300%;


    &-wrapper{
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      height: auto;
      width: 100%;
    }
  }
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding: 5%;
}

.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  font-size: 300%;
  border-radius: 2rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-text {
  color: rgb(24, 45, 70);
  font-size: 125%;
}