#the-instructions {
  display: none;
  min-height: 40vw;
}

.instructions {
  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(20px + 2vmin);
    padding-bottom: 5%;
    width: 100%;
  }

  &__title {
    text-align: left;
    width: 50%;
    height: 100%;
    font-size: calc(50px + 2vmin);
    margin-top: 0;
    padding-left: 5%;
    font-family: "Amaranth";
    font-weight: 600;
  }

  &__wrapper-question {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(20px + 2vmin);
    padding-bottom: 40px;
  }

  &__player-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
    padding-bottom: 50px;
  }

  &__player-name {
    font-size: calc(30px + 2vmin);
  }
}

.question {
  font-size: calc(30px + 2vmin);
  padding-bottom: 20px;
  font-weight: 500;

  &__answer1, &__answer2, &__answer3, &__answer4  {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    font-size: 100%;
  }

  &__letter {
    padding-right: 20px;
    padding-left: 30px;
  }

  &__answer-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    width: 100%;
  }
}