.title {
  display: none;
  
  text-align: center;
  min-height: 70vh;
  width: 75%;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  color: white;
  box-sizing: border-box;
  padding: 2%;
  margin: 0;

  &__title {
    font-size: calc(50px + 2vmin);
    color: white;
    font-weight: 600;
    font-family: 'Amaranth';
  }

  &__sub {
    font-family: 'Titillium Web';
    font-size: calc(20px + 2vmin);
    font-weight: 400;
  }
}