.title {
  font-size: calc(70px + 2vmin);
  color: white;
  font-weight: 600;
  font-family: 'Amaranth';

  &__sub {
    font-family: 'Titillium Web';
    font-size: calc(35px + 2vmin);
    font-weight: 400;
  }
}