.players {
  &__wrapper {
    display: flex;

    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
    padding-bottom: 50px;
    height: 30%;
}

  &__player-name1 {
    font-size: calc(30px + 2vmin);
    font-family: "Amaranth";
  }

  &__player-name2 {
    font-size: calc(30px + 2vmin);
    font-family: "Amaranth";
  }

  &__section {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    height: 100%;
  }
}
