.question {

  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(20px + 2vmin);
    padding-bottom: 5%;
    width: 100%;
  }

   &__wrapper-question {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(20px + 2vmin);
    padding-bottom: 40px;
  }

  &__player-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
    padding-bottom: 50px;
  }

  &__player-name {
    font-size: calc(30px + 2vmin);
  }

  &__1 {
  font-size: calc(30px + 2vmin);
  padding-bottom: 20px;
  font-weight: 500;
  width: 90%;
  margin: 0 auto;
  }

  &__letter {
    padding-right: 10%;
    padding-left: 0;
    // margin-left: 35vw;
  }

  &__answer {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: auto;

    &-wrapper{
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
    }
  }
}