.correct {
  display: none;
    text-align: center;
    background-color: #9257ff;
    min-height: 70vh;
    width: 80%;
  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    box-sizing: border-box;
    padding: 2%;
}

.incorrect {
  display: none;
  text-align: center;
  background-color: #9257ff;
  min-height: 70vh;
  width: 80%;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: pink;
  box-sizing: border-box;
  padding: 2%;
}