@import "./partials/mixins.scss";
@import "./partials/fonts.scss";

* {
  font-family: 'Amaranth', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background: #0d085c;
}

.App {
  text-align: center;
  // background-color: #1f9da1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
  padding: 2%;
}

.App-link {
  color: #61dafb;
}

.button {
  border: none;
  border-radius: 10px;
  font-size: calc(20px + 2vmin);
  font-weight: 600;
  height: auto;
  min-width: 50vw;
  background-color: rgb(68, 19, 6);
  color: white;
  margin: 2%;
  padding: 1%;
}

  .coolBeans {
  border-radius: 3rem;
  color: rgb(255, 255, 255);
  font-weight: 400;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;

  &::after {
    background-color: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
  }
    
  &:hover::after {
    transform: translate(0, 0);
  }
    
  &:hover {
    color: rgb(23, 10, 59);
    transform: scale(1.05);
    will-change: transform;
  }
}
    
.button2 {
  border: none;
  border-radius: 2rem;
  font-size: calc(25px + 2vmin);
  height: auto;
  width: 50vw;
  background-color: black;
  color: white;
  margin: 2%;
  padding: 2%;
}

.button3 {
  border: none;
  border-radius: 15px;
  font-size: calc(5px + 1vmin);
  height: auto;
  width: 50vw;
  background-color: #310872;
  color: white;
  margin: 0.3rem;
  padding: 0.3rem;
  padding-top: 5px;
}

.fade-out {
  transition: opacity 1s;
}

.bokeh-background {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

$particleSize: 20vmin;
$animationDuration: 6s;
$amount: 20;
.bokeh-background span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (
    #5a5bad,
    #344d43,
    #924c4c
  );
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}