.winner {
  &__wrapper {
    display: none;

    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
    height: 100%;
  }

  &__number {
  font-size: calc(60px + 2vmin);
  font-family: "Amaranth";
  margin: 0;
  padding-top: 5%;
  padding-bottom: 3%;
  }

  &__name {
    font-size: calc(60px + 2vmin);
    font-family: "Amaranth";
    line-height: 65px;
  }

  &__score {
    font-size: calc(90px + 2vmin);
    font-family: "Amaranth";
  }
}
