@import "./partials/mixins.scss";
@import "./partials/fonts.scss";

* {
  font-family: 'Amaranth', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #002d95;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
  padding: 2%;
}

.App-link {
  color: #61dafb;
}

.button {
  border: none;
  border-radius: 8px;
  font-size: calc(30px + 2vmin);
  height: auto;
  width: auto;
  background-color: rgb(68, 19, 6);
  color: white;
  margin: 2%;
  padding: 2%;
}

.button2 {
  border: none;
  border-radius: 8px;
  font-size: calc(30px + 2vmin);
  height: auto;
  width: 50vw;
  background-color: black;
  color: white;
  margin: 2%;
  padding: 2%;
}

.fade-out {
  transition: opacity 4s;
}